body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: #088395;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar  {
  color: white;
  font-weight: bold;
  font-size: 18px;
  background: #088395;
  padding: 4px 10px;
  border-radius: 4px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.navbar a:hover {
  color: yellow;
}

.navbar .login {
  margin-left: auto;
}

.header {
  background-color: #1a1a2e;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

.header h1 {
  font-size: 36px;
  margin: 0 0 10px 0;
}

.header p {
  font-size: 15px;
  color: #aaa;
  margin: 0;
}

.kamar-item {
  display: flex;
  padding: 40px 60px;
  gap: 40px;
  align-items: flex-start;
  border-bottom: 1px solid #eee;
}
 
.kamar-item img {
  width: 420px;
  height: 280px;
  object-fit: cover;
  border-radius: 6px;
}

.kamar-detail {
  flex: 1;
}

.kamar-detail h2 {
  font-size: 24px;
  color: #222;
  margin: 0 0 16px 0;
}

.info-row {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  color: #555;
  margin-bottom: 6px;
}

.info-row span {
  font-weight: bold;
  min-width: 110px;
}


.deskripsi {
  font-size: 14px;
  color: #555;
  line-height: 1.7;
  margin: 14px 0;
}

.kamar-detail ul {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  font-size: 14px;
  color: #444;
  line-height: 2;
}

.kamar-detail button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 24px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}

.kamar-detail button:hover {
  background-color: #0056b3;
}

footer {
  background-color: #111;
  color: #aaa;
  padding: 30px 60px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  flex-wrap: wrap;
  gap: 20px;
}

footer .logo {
  color: white;
  font-weight: bold;
  font-size: 16px;
  background: orange;
  padding: 4px 10px;
  border-radius: 4px;
  display: inline-block;
}

footer h4 {
  color: white;
  margin: 0 0 8px 0;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 2;
}

footer ul li a {
  color: #aaa;
  text-decoration: none;
}

footer ul li a:hover {
  color: white;
}
