<<<<<<< HEAD
body {
    background-image: url('../gambar/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

.register-card {
    width: 100%;
    max-width: 350px;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

.right-side {
    background-color: rgba(0, 0, 0, 0.4);
}

.text-box {
    margin-right: 40px;
}

.text-box h1 {
    font-size: 28px;
}

.text-box p {
    font-size: 14px;
=======
body{
    margin: 0;
    background: url('../gambar/gambar2.jpg') no-repeat center center;
    background-size: cover;
}

h1{
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.register-card{
    width: 320px;
    padding: 25px;
    margin-left: 60px;
    border-radius: 12px;
    background: rgba(255,255,255,0.95);
}

.text-box {
    max-width: 400px;
    margin-right: 165px; 
    text-align: left;
    font-size: 18px;
}

.text-box h1 {
    position: relative;
    left: -30px;
    font-size: 40px;
>>>>>>> 759c29c1d4b1141dc4c04b513be407bcc51e7f9d
}