body {
    margin: 0;
    background: url('../gambar/gambar2.jpg') no-repeat center center;
    background-size: cover;
    font-family: Arial, sans-serif;
}

.register-card {
    width: 100%;
    max-width: 350px;
    padding: 25px;
    margin-left: 60px;
    border-radius: 12px;
    background: rgba(255,255,255,0.95);
}

.right-side {
    background-color: rgba(0, 0, 0, 0.4);
}

.text-box {
    max-width: 400px;
    margin-right: 80px;
    text-align: left;
    font-size: 16px;
}

.text-box h1 {
    font-size: 36px;
}

.text-box p {
    font-size: 14px;
}